<div class="page">
  <app-page-header [title]="'Cars'" [icon]="'directions_car'"></app-page-header>
  <!-- <div
    class="
      px-8
      gap-4
      grid grid-cols-1
      sm:grid-cols-2
      md:grid-cols-2
      lg:grid-cols-3
      xl:grid-cols-4
    "
  > -->
  <div class="masonry mx-5 mt-5">
    <div *ngFor="let car of cars">
      <mat-card [routerLink]="'/cars/' + car._id" class="car-card">
        <img [src]="car.imgUrl" class="car-image mb-5 rounded-md" />
        <mat-card-title>
          {{ car.year }} {{ car.make }} {{ car.model }}
        </mat-card-title>
        <mat-card-subtitle> ${{ car.price }} </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <button
    class="FAB-new-item"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="openForm()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <!-- </div> -->
</div>
