/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  outline: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

.page {
  width: 100%;
  height: 100%;
}

.FAB-new-item {
  position: fixed;
  bottom: 3em;
  right: 30px;
}

.masonry {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
}
